<div class="container">
    <form class="row justify-content-md-center" [formGroup]="reservaForm" (ngSubmit)="buscarDoctorDisponible(reservaForm.value)">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h1 for="tipo">
                    Especialidades
                </h1>
            </div>
            <br>
            <br>
            <br>
            <div class="col-12 col-sm-4 col-md-3 cajas" *ngFor="let tipo of Especialidad; let i = index">
                <div class="col-12 imgespecialidad w-100">
                    <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imagenespecialidad w-100 rounded-circle">
                </div>
                <br>
                <div class="col-12">
                    <h5>
                        {{tipo.Name}}
                    </h5>
                </div>
                <div class="col-12">
                    <h6>
                        Precio: S/.{{tipo.cost}}.00
                    </h6>
                </div>
                <div class="col-12">
                    <p>
                        {{tipo.descripcion}}
                    </p>
                </div>
                <button class="btn btn-primary btn-center" type="button" (click)="activar=!activar; test(i)">
                    Sacar Cita
                </button>
                <div *ngIf="activar">
                    <div>
                        <label for="fecha">
                            ¿Que dia sera tu cita?
                        </label>
                        <br>
                        <input type="date" formControlName="dia">
                        <input id="escondete" type="text" [value]="tipo.IdEspecialidad" formControlName="elIndice">
                    </div>
                    <button type="submit" [value]="tipo.IdEspecialidad">
                        Horas Disponibles
                    </button>
                </div>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
    </form>
    <br>
    <br>
</div>
<!-- <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4 text-center">
            <div class="col-12 text-center">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad">
                    </div>
                </div>
                <h2 class="">
                    Neumologia
                </h2>
                <p>
                    En esta especialidad, contamos con grandes profesionales en diagnóstico y tratamiento de las enfermedades del pulmón, la pleura y el mediastino
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Medicina General
                </h2>
                <p>
                    Nuestros especialista se encargan de diagnosticar
                    y cuidar pacientes en casos rutinarios, y usualmente
                    refiere a las personas a especialistas cuando se 
                    requiere de tratamientos específicos.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Cardiologia
            </h2>
            <p>
                La cardiología es la rama de la medicina encargada del estudio, diagnóstico y tratamiento de las enfermedades del corazón y del aparato circulatorio.
            </p>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
            <hr>
            <div class="col-12 encargado">
                <div class="docto">
                    <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                </div>
                <div class="nombre">
                    <h6>
                        Jhamil Huaman Verastein
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4 text-center">
            <div class="col-12 text-center">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Geriatria
                </h2>
                <p>
                    La geriatría es la rama de la medicina que se preocupa de los problemas y enfermedades de los adultos mayores, cómo prevenirlas y manejarlas, y del proceso de envejecer. No sólo del aspecto médico, sino también de aspectos sicológicos y sociales que habitualmente acompañan este proceso.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Ginecologia
                </h2>
                <p>
                    La ginecología permite el diagnóstico y tratamiento de enfermedades como el cáncer, el prolapso, la amenorrea, la dismenorrea, la menorragia y la infertilidad. 
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Reumatologia
            </h2>
            <p>
                La Reumatología es la especialidad médica que se encarga de prevenir, diagnosticar y tratar las enfermedades musculoesqueléticas  y autoinmunes sistémicas. Se trata de una de las especialidades que más avances en diagnóstico y tratamiento ha experimentado en los últimos años.
            </p>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
            <hr>
            <div class="col-12 encargado">
                <div class="docto">
                    <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                </div>
                <div class="nombre">
                    <h6>
                        Jhamil Huaman Verastein
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4 text-center">
            <div class="col-12 text-center">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Pediatria
                </h2>
                <p>
                    Clinica Jx le ofrece una especial dedicación 
                    en la atención de nuestros niños. 
                    Contamos con un equipo multidisciplinario 
                    de sub-especialidades pediátricas que le 
                    ofrecen su experiencia en la atención de niños
                    desde el nacimiento hasta su adolescencia.
                    <br>
                    Contamos con servicios para el diagnostico y
                    tratamiento personalizado en un ambiente cálido
                    y confortable.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Medicina General
                </h2>
                <p>
                    Nuestros especialista se encargan de diagnosticar
                    y cuidar pacientes en casos rutinarios, y usualmente
                    refiere a las personas a especialistas cuando se 
                    requiere de tratamientos específicos.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Odontologia
            </h2>
            <p>
                Especialidad que se ocupa de las enfermedades
                del aparato estomatológico, que incluye los dientes, 
                las encías, el tejido periodontal y maxilares.
            </p>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
            <hr>
            <div class="col-12 encargado">
                <div class="docto">
                    <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                </div>
                <div class="nombre">
                    <h6>
                        Jhamil Huaman Verastein
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4 text-center">
            <div class="col-12 text-center">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Pediatria
                </h2>
                <p>
                    Clinica Jx le ofrece una especial dedicación 
                    en la atención de nuestros niños. 
                    Contamos con un equipo multidisciplinario 
                    de sub-especialidades pediátricas que le 
                    ofrecen su experiencia en la atención de niños
                    desde el nacimiento hasta su adolescencia.
                    <br>
                    Contamos con servicios para el diagnostico y
                    tratamiento personalizado en un ambiente cálido
                    y confortable.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Medicina General
                </h2>
                <p>
                    Nuestros especialista se encargan de diagnosticar
                    y cuidar pacientes en casos rutinarios, y usualmente
                    refiere a las personas a especialistas cuando se 
                    requiere de tratamientos específicos.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Odontologia
            </h2>
            <p>
                Especialidad que se ocupa de las enfermedades
                del aparato estomatológico, que incluye los dientes, 
                las encías, el tejido periodontal y maxilares.
            </p>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
            <hr>
            <div class="col-12 encargado">
                <div class="docto">
                    <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                </div>
                <div class="nombre">
                    <h6>
                        Jhamil Huaman Verastein
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-4 text-center">
            <div class="col-12 text-center">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Pediatria
                </h2>
                <p>
                    Clinica Jx le ofrece una especial dedicación 
                    en la atención de nuestros niños. 
                    Contamos con un equipo multidisciplinario 
                    de sub-especialidades pediátricas que le 
                    ofrecen su experiencia en la atención de niños
                    desde el nacimiento hasta su adolescencia.
                    <br>
                    Contamos con servicios para el diagnostico y
                    tratamiento personalizado en un ambiente cálido
                    y confortable.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
                <h2 class="">
                    Medicina General
                </h2>
                <p>
                    Nuestros especialista se encargan de diagnosticar
                    y cuidar pacientes en casos rutinarios, y usualmente
                    refiere a las personas a especialistas cuando se 
                    requiere de tratamientos específicos.
                </p>
                <a href="#" target="_self" class="">
                    Reservar Cita
                </a>
                <hr>
                <div class="col-12 encargado">
                    <div class="docto">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                    </div>
                    <div class="nombre">
                        <h6>
                            Jhamil Huaman Verastein
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="text-center">
                        <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgespecialidad" alt="">
                    </div>
                </div>
            </div>
            <h2 class="">
                Odontologia
            </h2>
            <p>
                Especialidad que se ocupa de las enfermedades
                del aparato estomatológico, que incluye los dientes, 
                las encías, el tejido periodontal y maxilares.
            </p>
            <a href="#" target="_self" class="">
                Reservar Cita
            </a>
            <hr>
            <div class="col-12 encargado">
                <div class="docto">
                    <img src="https://mdbootstrap.com/img/logo/mdb192x192.jpg" class="imgdoctor" alt="">
                </div>
                <div class="nombre">
                    <h6>
                        Jhamil Huaman Verastein
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row justify-content-md-center text-center servicios separador">
        <div class="col-12 col-md-6 servicios">
            <h2 class="">
                Radiografia
            </h2>
            <p>
                La mejor atenciòn lo encuentras aqui
            </p>
        </div>
        <div class="col-12 col-md-6 servicios">
            <div class="servicio">
                <img src="./assets/img/prueba.jpg" class="imgservicio" alt="">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center text-center servicios separador">
        <div class="col-12 col-md-6 servicios">
            <div class="servicio">
                <img src="./assets/img/prueba.jpg" class="imgservicio" alt="">
            </div>
        </div>
        <div class="col-12 col-md-6 servicios">
            <h2 class="">
                Laboratorio
            </h2>
            <p>
                La mejor atenciòn lo encuentras aqui
            </p>
        </div>
    </div>
</div> -->