<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-12 shadow p-3 mb-5 bg-white rounded rounded-lg border border-light">
            <br>
            <div class="row justify-content-md-center">
                <div class="col-12 text-center">
                    <div class="imagen">
                        <img src="../../../assets/img/usuario.png">
                    </div>
                    <div class="registrate">
                        <h3>
                            REGISTRATE
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-12 col-sm-12 col-md-6">
                    <form [formGroup]="RegistroForm" (ngSubmit)="validarregistro(RegistroForm.value)">
                        <div class="col-12">
                            <label for="correo">
                                E-MAIL
                            </label>
                            <br>
                            <input type="text" name="correo" formControlName="correo" class="inputs">
                            <br>
                            <!-- <span class="rojo" *ngIf="FullName.invalid && FullName.errors.required">
                                *nombre es requerido
                            </span> -->
                        </div>
                        <div class="col-12">
                            <label for="datos">
                                NOMBRES Y APELLIDOS
                            </label>
                            <br>
                            <input type="text" name="datos" formControlName="datos" class="inputs">
                        </div>
                        <div class="col-12">
                            <label for="dni">
                                DNI
                            </label>
                            <br>
                            <input type="text" name="DNI" formControlName="DNI" maxlength="8" class="inputs">
                        </div>
                        <div class="col-12">
                            <label for="fechana">
                                FECHA NACIMIENTO
                            </label>
                            <br>
                            <input type="date" formControlName="fechana" class="inputs">
                        </div>
                        <div class="col-12">
                            <label for="contraseña">
                                CONTRASEÑA
                            </label>
                            <br>
                            <input type="text" name="contraseña" formControlName="contraseña" class="inputs">
                        </div>
                        <div class="col-12">
                            <label for="recontraseña">
                                CONFIRMAR CONTRASEÑA
                            </label>
                            <br>
                            <input type="text" name="recontraseña" formControlName="recontraseña" class="inputs">
                        </div>
                        <div class="col-12">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block">
                                Registrar
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="col-12">
                        <hr>
                        <button type="button" (click)="accederConGoogle()" class="btn btn-danger btn-block">
                            <i class="fab fa-google"></i>
                            Iniciar Google
                        </button>
                        <br>
                        <button type="button" (click)="accederConFacebook()" class="btn btn-primary btn-block">
                            <i class="fab fa-facebook"></i>
                            Iniciar Facebook
                        </button>
                        <br>
                    </div>
                    <div class="datosusuario">
                        <div class="invisible" *ngIf="!logeado" >
                            Falta Iniciar Sesión
                        </div>
                        <div class="gg text-center" *ngIf="logeado">
                                <!-- Ya Inicio Sesión -->
                            <br>
                            <div>
                                <img [src]="usuario.photoUrl" class="">
                            </div>
                            <br>
                            <div>
                                <h1>
                                    {{usuario.name}}
                                </h1>
                                <h3>
                                    {{usuario.email}}
                                </h3> 
                            </div>
                            <button (click)="Salir()" class="btn btn-info btn-block">Salir</button>
                        </div>
                    </div>
                </div>
            </div>
            <br> 
        </div>
    </div>
</div>