.cajas
{
    padding: 1em;
}
.continuar
{
    color: whitesmoke;
}
.horarios
{
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-left: 3px;
}
/* .elegihora
{
    padding: 1px;
} */