<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 nombre text-center">
            <h2>
                Especialidad de {{objeto.Name}}
            </h2>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="col-12 col-sm-6 cajas">
            <p class="text-justify">
                *elija la fecha., luego elija el doctor y por ultimo el horario mas axxecible para usted
                <br>
                * la reserva de  la cita debe de ser para la semana siguiente
            </p>
            <form class="row justify-content-md-center" [formGroup]="obtenerdatos" (ngSubmit)="prueba(obtenerdatos.value)">
                <div class="col-12 fechaelegida">
                    <div class="fecha text-center">
                        <h6>
                            Por favor elija la fecha de su cita
                        </h6>
                        <input type="date" formControlName="dia">
                    </div>
                </div>
                <br>
                <div class="col-12 doctoresacargo">
                    <h6 class="titulo text-center">
                        Doctor(es) Encargado(s)
                    </h6>
                    <div class="doctores col" *ngFor="let especialista of doctordisponible;let i = index">
                        <div class="doctor col text-center">
                            <div class="nombre">
                                <h4>
                                    Nombres y Apellidos: {{especialista.FullName}}
                                </h4>
                            </div>
                            <div class="codigomp">
                                <h5>
                                    CMP: {{especialista.CMP}}
                                </h5>
                            </div>
                            <div>
                                <input class="invisible" id="escondete" type="text" [value]="especialista.IdDoctor" formControlName="medico">
                            </div>
                            <div class="elegirdoctor">
                                <button type="button" (click)="prueba(obtenerdatos.value,doctordisponible[i],activado=!activado)">
                                    Elegir
                                </button>
                            </div>
                            <div class=" col-12 horariodeldoctor" *ngIf="activado">
                                <div class="horarios col" *ngFor="let hour of libres;let x = index">
                                    <button type="button" class="" [value]="hour.IdHorario" (click)="completarcita(doctordisponible[i],obtenerdatos.value,libres[x])">
                                        {{hour.IdHora}}
                                    </button>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <br>
            <div class="continuar text-center">
                <button type="submit" class="btn btn-primary continuar">
                    <a class="continuar" [routerLink]="['/validacioncliente']">
                        Continuar
                    </a>
                </button>
            </div>
        </div>
        <div class="col-12 col-sm-6 cajas">
            <div class="col-12 informacion border border-primary">
                <div class="col-12 text-center precio">
                    <h3 class="text-primary">
                        Precio de la Consulta:  S/.{{objeto.cost}}.00
                    </h3>
                </div>
                <div class="col-12 text-justify descripcion">
                    <h4 class="text-info">
                        {{objeto.descripcion}}
                    </h4>
                </div>
                <br>
                <div class="col-12 text-center imagen">
                    <img [src]="objeto.espeimagen" class="imagenespecialidad w-100">
                </div>
            </div>
        </div>
    </div>
</div>