<br>
<br>
<div class="container">
    <div class="row justify-content-md-center text-justify">
        <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let doctores of Doctor">
            <div class="fotodoctor">
                <img [src]="doctores.doctorimagen" class="rounded-circle w-100">
            </div>
            <div class="nombre text-center">
                <h2>
                    {{doctores.FullName}}
                </h2>
            </div>
            <div class="especialidad text-center">
                <h4>
                    {{doctores.IdEspecialidad}}
                </h4>
            </div>
            <div class="cmp text-center">
                <h6>
                    {{doctores.CMP}}
                </h6>
            </div>
        </div>
    </div>
</div>
<br>
<br>