<br>
<br>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-11 col-md-12 shadow p-3 mb-5 bg-white rounded rounded-lg border border-light">
            <div class="col-12 logo">
                <div class="col-8 logo w-auto text-center">
                    <img src="../../../assets/img/logo.png" class="w-25 h-25">
                </div>
            </div>
            <div class="col-10 datosempresa text-center">
                <div class="direccion">
                    <h6>
                        Av. Independencia #126
                    </h6>
                </div>
                <div class="celular">
                    <h6>
                        Cell: 958899251
                    </h6>
                </div>
                <div class="paginaweb">
                    <h6>
                        http://mariaaxiliadora.com
                    </h6>
                </div>
            </div>
            <div class="col-10 fecha del dia text-center">
                <div class="horaimpre">
                    <h6>
                        Fecha Impresión:  {{horahoy}}
                    </h6>
                </div>
                <div class="codigoreserva">
                    <h6>
                        Codigo Cita: 54214
                    </h6>
                </div>
            </div>
            <hr style="border:2px;">
            <div class="datos col-10 text-center">
                <div class="nombrepaciente">
                    <h2>
                        {{fullname}}
                    </h2>
                </div>
                <div class="dniedad col-10">
                    <div class="dni col">
                        <h4>
                            DNI: {{dni}}
                        </h4>
                    </div>
                    <div class="edad col">
                        Edad: "edad del paciente"
                    </div>
                </div>
                <div class="fechacita">
                    <!-- Fecha Cita: "fecha de la cita" -->
                    Fecha Cita: {{fechacita}}
                </div>
                <div class="especialidad">
                    Especialidad: "la especialidad"
                </div>
                <div class="medico">
                    Med. Atendera: "el medico que la atendera"
                </div>
                <div class="medico">
                    Precio: "el precio que se le esta cobrando segun la especialidad"
                </div>
            </div>
        </div>
    </div>
</div>