<div class="container">
    <form class="row justify-content-md-center">
        <div class="row justify-content-md-center">
            <div class="col-12">
                <h1>
                    Especialidades
                </h1>
            </div>
            <br>
            <br>
            <br>
            <div class="col-12 col-sm-4 col-md-3 cajas" *ngFor="let tipo of especialidad">
                <div class="col-12 imgespecialidad w-100">
                    <img [src]="tipo.espeimagen" class="imagenespecialidad w-100 rounded-circle">
                </div>
                <br>
                <div class="col-12">
                    <h5>
                        {{tipo.Name}}
                    </h5>
                </div>
                <div class="col-12">
                    <h6>
                        Precio: S/.{{tipo.cost}}.00
                    </h6>
                </div>
                <div class="col-12">
                    <p>
                        {{tipo.descripcion}}
                    </p>
                </div>
                <button class="btn btn-primary btn-center" type="button" (click)="checkout(tipo)">
                    Sacar Cita
                </button>
                <br>
                <br>
            </div>
            <br>
            <br>
        </div>
    </form>
    <br>
    <br>
</div>

<!-- <p>reserva-paso2 works!</p>
<div *ngFor="let doctor of doctordisponible">
     <H3>Doctor(a): {{doctor.name}}</H3> 
    <h4>Doctor(a): {{doctor.FullName}}</h4>
    <h6>CMP: {{doctor.CMP}}</h6>
    <p>hora de atención de: 2:00 pm a 9:00 pm</p>
 {{doctor | json}}  
    <button type="submit" (click)="checkout(doctor)">Reservar Cita</button>
</div> -->